@model lista10.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            Image
        </dt>
        <div class="form-group">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="@Url.Content("~/upload/" + Model.ImagePath)" alt="Original Image" />
            }
            else
            {
                <img src="@Url.Content("~/image/strefa_ruchu.jpg")" alt="Default Image" />
            }
        </div>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
